@{
    ViewBag.Title = "Index";
}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h1>Thanh toán thành công</h1>
                <div class="card-body">
                    <p class="text-right">
                        <a href="@Url.Action("Index", "Home")" class="btn btn-light">
                            <i class="fa fa-chevron-left"></i>Tiếp tục mua sắm
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>